GameReplayData(
    inputs: [
        GameInputEvent(72057594037927937),
        GameInputEvent(-9151314442816847693),
    ],
    metadata: {
        "tasUsed": true,
        "mode": "sprint_10l",
        "version": "V0.17.18",
        "player": "NOT_A_ROBOT",
        "seed": 1020716105,
        "date": "2024/08/13 20:40:13",
        "setting": {
            "face": [
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
            ],
            "grid": 0.4,
            "nextPos": true,
            "block": true,
            "bagLine": true,
            "lockFX": 0,
            "dropFX": 0,
            "moveFX": 0,
            "clearFX": 0,
            "splashFX": 0,
            "das": 3,
            "ghost": 1,
            "skin": [
                1,
                7,
                11,
                3,
                14,
                4,
                9,
                1,
                7,
                2,
                6,
                10,
                2,
                13,
                5,
                9,
                15,
                4,
                11,
                3,
                10,
                2,
                16,
                8,
                4,
                10,
                13,
                2,
                8,
            ],
            "sdarr": 0,
            "dascut": 0,
            "RS": "TRS",
            "highCam": true,
            "warn": true,
            "score": true,
            "sddas": 0,
            "atkFX": 0,
            "smooth": true,
            "ihs": true,
            "irs": true,
            "ims": false,
            "shakeFX": 0,
            "text": true,
            "arr": 0,
            "dropcut": 0,
            "center": 1,
        },
        "mod": [],
    },
)