GameReplayData(
    inputs: [
        GameInputEvent(
            action: InputAction(
                kind: Press,
                key: HardDrop,
            ),
            frame: 62,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Release,
                key: HardDrop,
            ),
            frame: 62,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Press,
                key: MoveRight,
            ),
            frame: 86,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Release,
                key: MoveRight,
            ),
            frame: 86,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Press,
                key: SoftDrop,
            ),
            frame: 99,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Release,
                key: SoftDrop,
            ),
            frame: 99,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Press,
                key: MoveLeft,
            ),
            frame: 128,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Release,
                key: MoveLeft,
            ),
            frame: 128,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Press,
                key: RotateRight,
            ),
            frame: 180,
        ),
        GameInputEvent(
            action: InputAction(
                kind: Release,
                key: RotateRight,
            ),
            frame: 180,
        ),
    ],
    metadata: {
        "tasUsed": true,
        "mod": [],
        "mode": "sprint_10l",
        "player": "NOT_A_ROBOT",
        "seed": 358231284,
        "setting": {
            "center": 1,
            "RS": "TRS",
            "dropcut": 0,
            "ihs": true,
            "irs": true,
            "sdarr": 0,
            "skin": [
                1,
                7,
                11,
                3,
                14,
                4,
                9,
                1,
                7,
                2,
                6,
                10,
                2,
                13,
                5,
                9,
                15,
                4,
                11,
                3,
                10,
                2,
                16,
                8,
                4,
                10,
                13,
                2,
                8,
            ],
            "ghost": 1,
            "das": 3,
            "sddas": 0,
            "score": true,
            "warn": true,
            "face": [
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
            ],
            "grid": 0.4,
            "text": true,
            "moveFX": 0,
            "bagLine": true,
            "lockFX": 0,
            "dropFX": 0,
            "smooth": true,
            "clearFX": 0,
            "splashFX": 0,
            "shakeFX": 0,
            "atkFX": 0,
            "arr": 0,
            "ims": false,
            "highCam": true,
            "nextPos": true,
            "dascut": 0,
            "block": true,
        },
        "date": "2024/10/09 14:44:11",
        "version": "V0.17.17",
    },
)