GameReplayData(
    inputs: [
        GameInputEvent(432345564227567678),
        GameInputEvent(-8791026472627208130),
        GameInputEvent(144115188075855958),
        GameInputEvent(-9079256848778919850),
        GameInputEvent(504403158265495651),
        GameInputEvent(-8718968878589280157),
        GameInputEvent(72057594037928064),
        GameInputEvent(-9151314442816847744),
        GameInputEvent(216172782113783988),
        GameInputEvent(-9007199254740991820),
    ],
    metadata: {
        "tasUsed": true,
        "mod": [],
        "mode": "sprint_10l",
        "player": "NOT_A_ROBOT",
        "seed": 358231284,
        "setting": {
            "center": 1,
            "RS": "TRS",
            "dropcut": 0,
            "ihs": true,
            "irs": true,
            "sdarr": 0,
            "skin": [
                1,
                7,
                11,
                3,
                14,
                4,
                9,
                1,
                7,
                2,
                6,
                10,
                2,
                13,
                5,
                9,
                15,
                4,
                11,
                3,
                10,
                2,
                16,
                8,
                4,
                10,
                13,
                2,
                8,
            ],
            "ghost": 1,
            "das": 3,
            "sddas": 0,
            "score": true,
            "warn": true,
            "face": [
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
            ],
            "grid": 0.4,
            "text": true,
            "moveFX": 0,
            "bagLine": true,
            "lockFX": 0,
            "dropFX": 0,
            "smooth": true,
            "clearFX": 0,
            "splashFX": 0,
            "shakeFX": 0,
            "atkFX": 0,
            "arr": 0,
            "ims": false,
            "highCam": true,
            "nextPos": true,
            "dascut": 0,
            "block": true,
        },
        "date": "2024/10/09 14:44:11",
        "version": "V0.17.17",
    },
)