GameReplayData(
    inputs: [
        GameInputEvent(432345564227567678),
        GameInputEvent(-8791026472627208130),
        GameInputEvent(144115188075855958),
        GameInputEvent(-9079256848778919850),
        GameInputEvent(504403158265495651),
        GameInputEvent(-8718968878589280157),
        GameInputEvent(72057594037928064),
        GameInputEvent(-9151314442816847744),
        GameInputEvent(216172782113783988),
        GameInputEvent(-9007199254740991820),
    ],
    metadata: {
        "tasUsed": Some(true),
        "private": None,
        "player": "NOT_A_ROBOT",
        "seed": 358231284,
        "version": "V0.17.17",
        "date": "2024/10/09 14:44:11",
        "mod": Some([]),
        "mode": "sprint_10l",
        "setting": {
            "atkFX": Some(0),
            "clearFX": Some(0),
            "dropFX": Some(0),
            "lockFX": Some(0),
            "moveFX": Some(0),
            "shakeFX": Some(0),
            "splashFX": Some(0),
            "das": Some(3),
            "arr": Some(0),
            "sddas": Some(0),
            "sdarr": Some(0),
            "dascut": Some(0),
            "irscut": None,
            "dropcut": Some(0),
            "irs": Some(true),
            "ihs": Some(true),
            "ims": Some(false),
            "RS": Some("TRS"),
            "bagLine": Some(true),
            "block": Some(true),
            "center": Some(1.0),
            "face": Some([
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
            ]),
            "ghost": Some(1.0),
            "grid": Some(0.4),
            "highCam": Some(true),
            "nextPos": Some(true),
            "score": Some(true),
            "skin": Some([
                1,
                7,
                11,
                3,
                14,
                4,
                9,
                1,
                7,
                2,
                6,
                10,
                2,
                13,
                5,
                9,
                15,
                4,
                11,
                3,
                10,
                2,
                16,
                8,
                4,
                10,
                13,
                2,
                8,
            ]),
            "smooth": Some(true),
            "text": Some(true),
            "warn": Some(true),
            "FTLock": None,
        },
    },
)